

# =========================
# Django
# =========================
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# =========================
# Virtual Environments
# =========================
venv/
env/
.venv/
ENV/

# =========================
# Environment Variables
# =========================
.env
.env.*
!.env.example

# =========================
# Docker
# =========================
docker-compose.override.yml
*.pid

# =========================
# PostgreSQL / Data
# =========================
*.sql
*.dump
*.backup
postgres-data/
data/

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/
*.swp
*.swo

.DS_Store
Thumbs.db


node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*


build/
dist/
*.egg-info/
.cache/
